=title "About"

- content_for :content_splash do
  %h2 Synopsis

%p
  Scientific names are critical metadata elements in biodiversity. They are the scaffolding upon which all biological information hangs.
  However, scientific names are imperfect identifiers. Some taxa share the same name (e.g. homonyms across
  = succeed ')' do
    %a{:href => "http://en.wikipedia.org/wiki/Nomenclature_codes"} nomenclature codes
  and there can be many names for the same taxon. Names change because of taxonomic and nomenclatural revisions and they can be persistently misspelled in the literature. Optical scanning of printed material compounds the problem by introducing greater uncertainty in data integration.

%p
  This resolution service tries to answer the following questions about a string representing a scientific name:
  %ul
    %li Is this a name?
    %li It is spelled correctly?
    %li Is this name currently in use?
    %li What other names are related to this name (e.g. synonyms, lexical variants)?
    %li If this name is a homonym, which is the correct one?

%h2 Matching Process

%h3 1. Exact Matching

%p 
  Submitted names are checked for exact matches against names in specified data sources or against the entire resolver database. If "resolve_once" is specified in the
  = succeed ',' do
    %a{:href => "/api"} API
  found names are immediately removed from the process instead of being resolved against all specified data sources. This significantly accelerates matching and can be used to discover if a string is in fact a name.

%h3 2. Exact Matching of Canonical Forms

%p
  Name strings are often supplied with complex authorship information [e.g. 
  %em Racomitrium canescens
  f. 
  %em epilosum
  (H. Müll. ex Milde) G. Jones in Grout]. The Global Name parser strips authorship and rank information from names [e.g.
  = succeed '],' do
    %em Racomitrium canescens epilosum
  which makes it possible to compare the string with other variants of the same name. Resulting canonical forms are checked for exact matches against canonical forms in specified data sources or in the entire resolver database. All found names are removed from the process at the completion of this step.

%h3 3. Fuzzy Matching of Canonical Forms

%p
  Mistakes, misspellings, or OCR errors can create incorrect variants of scientific names. Remaining canonical forms generated from the previous step are fuzzily matched against canonical forms in specified data sources. We use a modified version of the TaxaMatch algorithm developed by
  = succeed '.' do
    %a{:href => "http://www.cmar.csiro.au/datacentre/taxamatch.htm"} Tony Rees
  After this step all found names are removed from the process.

%h3 4. Exact Matching of Specific Parts of Names

%p
  Some names are recognized by the parser as infraspecific names, which were not found during previous steps of the process. This may be because the name is unknown to the resolver database. Sometimes a 'junk' word is wrongly included and the parser may recognize it as an infraspecific epithet. The algorithm extracts specific canonical forms from names recognized as infraspecific and tries to match this subset of names against datasources or the entire resolver database. For example,
  = surround '"' do
    %em Pardosa moesta
    spider
  will be cleansed and matched as
  %em
    = succeed "." do
      = surround '"' do
        Pardosa moesta
  All found names are removed from the process prior to proceeding to the following steps.

%h3 5. Fuzzy Matching of Specific Parts of Names

%p
  Remaining names to be processed are fuzzily matched then removed.

%h3 6. Exact Matching of Genus Part of Names

%p
  Remaining names in the process as well as all remaining binomial canonical forms are reduced to the genus part and matched against the data sources or the entire database.

%h2 Taxonomic Context
  
%p
  If the "with_context" parameter is set to "true", the overall taxonomic group of all matched names is collected throughout the process. Scores for possible homonym matches are down-weighted if the resolved names do not belong to the overall taxonomic group of the queried list. If this is undesirable behavior, this parameter may be set to "false".

%h2 Confidence Score

%p
  Matched names fall into several categories. For example, if the name
  %em Aotus
  gets perfectly matched as a plant genus, this may be incorrect if the queried name actually refers to a genus of monkey. Another example is poor fuzzy matching. The name
  %em Afina
  can be fuzzily matched to the genus
  %em Alina
  in the Order Lepidoptera. Matches of trinomial or binomial names have greater accuracy. Matching of authorship information further increases the likelihood of a correct match. However, different authorship does not always mean different taxonomic meaning. For example,
  %em Monochamus galloprovincialis
  (Olivier, 1795) and
  %em Monochamus galloprovincialis
  Secchi, 1998 both refer to the same species, where the former indicates the original author of the name and the latter is merely a reference to the name. The name resolver produces a "confidence score" to accommodate all these potential issues. The score is produced from a curvilinear plot of weighted decisions.

= image_tag "confidence_score.png", { :alt => "Confidence Score Graph", :width => "500", :height => "400" }

%p We start at 0 on the x-axis and assign positive values for events that increase the probability score, and negative values to events that decrease it. For example, an exact match of a binomial name increases the probability significantly, so we adjust the slider 3 points to the right with a corresponding score of 0.988. However, if the authorship of the name did not get correctly matched, we adjust the slider 2 points to the left, to a corresponding score of 0.75. We try to map confidence level the with resulting scores. For example, 0.5 means neutral confidence whereas 0.99 mean high confidence.
