<% title "Results" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Results" %>
<%- end -%>

<div class="parameters">
  <% @res[:parameters][:data_sources].each do |source| %>
    <%= DataSource.find(source).title rescue nil %>
  <% end %>
</div>

<% @res[:data].each do |result| %>
  <div class="section">
    <div class="searched-name">
      <h4><%= result[:name_string] %></h4>
    </div>
  <div class="results">
  <% if result[:results].nil? %>
    <div class="nothing">nothing found</div>
  <% else %>
  <% result[:results].each do |source| %>
    <div class="source-match">
      <span class="source-name-string"><%= source[:name_string] %></span>
      <span class="score">[Score: <%= source[:score] %>]</span>
    </div>
    <div class="source-classification-path"><%= source[:classification_path] %></div>
  <% end %>
  </div>
  <% end %>
  </div>
<% end %>