=title "Results"

- content_for :content_splash do
  %h2 Results
  .outputs
    %span
      %a{:href => @res[:url] + ".json" } JSON
    %span
      %a{:href => @res[:url] + ".xml" } XML

- @res[:data].each do |result|
  .section
    .searched-name
      %h4= h result[:name_string]
      - num_matches = (result[:results] && result[:results].size > 0) ? result[:results].size : 0
      %span.number-matches= "Number of matches: #{num_matches}"

    .results
      - if result[:results]
        - result[:results].each do |source|
          .source-match
            .source-names-score
              %span.source-name-string= source[:name_string]
              %span.score= "[ #{match_type(source[:match_type])}, Score: #{source[:score].round(4)} ]"
            .source-title
              %a{ :href => data_source_path(source[:data_source_id]) }
                = DataSource.find(source[:data_source_id]).title
            - if !source[:classification_path].nil?
              .source-classification-path= source[:classification_path].gsub('|', ' >> ')